/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@import 'tailwindcss';
* {
  font-family: 'Onest', sans-serif;
}

.active-color {
  color: #2d60ff;
}
.icon-color {
  color: #b1b1b1;
}
.active-bg-color {
  background-color: #2d60ff;
}
.inter-font {
  font-family: 'Inter', sans-serif;
}
.lato-font {
  font-family: 'Lato', sans-serif;
}
.nav-font-color {
  color: #343c6a;
}
.search-bg {
  background: #f5f7fa;
}
.input-color {
  color: #8ba3cb;
}
.setting-bg {
  background-color: #f5f7fa;
}
.layout-color {
  background: #f5f7fa;
}
.card-border {
  border: 1px solid #dfeaf2;
}
.border-top {
  border-top: 1px solid #dfeaf2;
}
.card-text-one {
  color: #ffffffb2;
}
.card-text-two {
  color: #718ebf;
}
.card-text-three,
.main-color {
  color: #343c6a;
}

.bar-text-color {
  color: #718ebf;
}
.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus,
.recharts-surface:focus-visible {
  outline: none;
  box-shadow: none;
}
.border-bottom {
  border-bottom: 1px solid #e6eff5;
}

.button-border {
  border: 1px solid #123288;
}
