@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

.active-color {
  color: #2d60ff;
}
.icon-color {
  color: #b1b1b1;
}
.active-bg-color {
  background-color: #2d60ff;
}
.inter-font {
  font-family: 'Inter', sans-serif;
}
.nav-font-color {
  color: #343c6a;
}
.search-bg {
  background: #f5f7fa;
}
.input-color {
  color: #8ba3cb;
}
.setting-bg {
  background-color: #f5f7fa;
}
.layout-color {
  background: #f5f7fa;
}
.card-border {
  border: 1px solid #dfeaf2;
}
.border-top {
  border-top: 1px solid #dfeaf2;
}
